body {
    background: #eef0ff;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

.visa-header {
    text-align: center;
    padding: 30px 0 50px;

}

.visa-header h1 {
    color: #0d3276;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.visa-header h2 {
    color: #444;
    margin-top: 15px;
    font-weight: 500;
}

.stepper {
    margin: 50px auto 0;
    width: 900px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.step {
    width: 120px;
    text-align: center;
}

.circle {
    width: 36px;
    height: 36px;

    border: 2px solid #999;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 10px;

    color: #666;
    font-weight: 600;
}

.step p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.step span {
    font-size: 11px;
    color: #666;
}

.line {
    width: 90px;
    height: 2px;
    background: #d9d9d9;
    margin-top: 18px;
}

.active .circle {
    border-color: #0d3276;
    color: #0d3276;
}

.active p,
.active span {
    color: #0d3276;
}

.active-line {
    background: #3f61c8;
}